.card_wrapper {
    display: flex;
    flex-direction: column;
    .card_container {
        height: 250px;
        width: 165px;
        border-radius: 3px;
        img {
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            width: 100%;
        }
    }
    .title_container {
        width: 165px;
    }
}